@media only screen and (min-width: 2339px) {
  #column-3 {
    margin-top: 7.2em;
    gap: 1em !important;
  }
}

@media only screen and (min-width: 1259px) {
  #column-2 {
    margin-top: 7.2em;
  }
  .small {
    display: none;
  }
}

@media only screen and (max-width: 2339px) {
  .project-column {
    gap: 2em !important;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 70%;
  }
  .page-container {
    padding-top: 1em !important;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 1259px) {
  #column-3 {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -1.85em;
  }
  .big {
    display: none;
  }
  footer {
    padding-top: 0em !important;
  }
  .project {
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
  }
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #041126;
  color: #60c4bc;
  user-select: none;
  font-family: 'Playfair Display', serif;
}

.page-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  position: relative;
  padding: 5em;
  padding-bottom: 0em;
}

#logo {
  max-width: 100px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1em;
  max-width: 29em;
  min-width: 29em;
}

.playfair-display-font {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.title {
  font-size: 2.5rem;
  margin: 0;
}

.subtitle {
  margin: 0;
  font-weight: 400;
}

.text-block {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 2em;
  border: #60c4bc;
  border-style: dashed;
  border-width: 1px;
  margin-top: 1em;
  max-width: 28.2em;
  min-width: 28.2em;
  transition: background-color 1s, color 1s, border-radius 1s;
}

.text-block:hover {
  background-color: #60c4bc;
  color: #ffffff;
  border-radius: 2em;
  transition: background-color 1s, color 1s, border-radius 1s;
}

.text-block li {
  list-style-type: none;
}

.company-date {
  font-size: 0.8rem;
  font-weight: 400;
}

.experience {
  font-weight: 900;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

footer {
  align-items: center;
  color: #60c4bc;
  width: 24em;
  padding-top: 2em;
  padding-bottom: 2em;
}

#column-2 {
  flex-grow: 0.005;
}

.big-skill-row,
.small-skill-row {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.85em;
}

.big-skill,
.small-skill {
  border: #60c4bc;
  border-style: dashed;
  border-width: 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  transition: background-color 1s, color 1s, border-radius 1s;
}

.big-skill {
  width: 10em;
  height: 10em;
}
.small-skill {
  width: 5.65em;
  font-size: 0.83rem;
  height: 5.65em;
  padding: 0.5em;
}

.small-skill:hover,
.big-skill:hover {
  background-color: #60c4bc;
  color: #ffffff;
  border-radius: 1em;
  transition: background-color 1s, color 1s, border-radius 1s;
}

.icons {
  cursor: pointer;
  margin-left: 1em;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.skill-icons {
  max-width: 5rem;
  max-height: 5rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 2em;
  border: #60c4bc;
  border-style: dashed;
  border-width: 1px;
  height: 18em;
  max-width: 28.1em;
  min-width: 28.1em;
  cursor: pointer;
  transition: background-color 1s, color 1s, border-radius 1s;
}

.project:hover {
  background-color: #60c4bc;
  color: #ffffff;
  border-radius: 2em;
  transition: background-color 1s, color 1s, border-radius 1s;
}

.project-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8em;
}

#column-3 {
  display: flex;
  gap: 2em;
  max-height: 56.4em;
}

.project-image {
  margin: -2em;
  transition: border-radius 1s;
  opacity: 0.8 !important;
}

.project-image:hover {
  border-radius: 2em;
  transition: border-radius 1s;
}
